.table {
    top: 200px;
    left: 300px;
    width: 600px;
    position: relative;
    border-collapse: collapse;
    border: 2px solid #000000;

    &__data {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        font-weight: normal;
        border: 2px solid #000000;
        font-family: "Fraunces", sans-serif;
    }
}